<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@android:drawable/ic_menu_edit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModernT9">

        <!-- The keyboard itself. BIND_INPUT_METHOD is what makes it an IME. -->
        <service
            android:name=".T9InputMethodService"
            android:exported="true"
            android:directBootAware="true"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- No INTERNET permission, by design. This keyboard does not talk to anything. -->
</manifest>
